body {
  background-color: floralwhite;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

p, small { 
  text-align: center;
}

.pubdate {
  text-align: center;
  font-weight: bold;
  display: block;
}

.edit {
  text-align: center;
  color: black;
  font-weight: bold;
}

.editing{
  margin-top: 20px;
  vertical-align: middle;
}

.edit:hover {
  color: red;
}



.footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 3em;
  margin-top: 2em;
  text-align: center;
  border-top: 1px solid lightgrey;
  padding: 5px;
}
.page-header {
  margin-top: -15px;
  border-bottom: 2px solid grey;
}

textarea {
  vertical-align: middle;
  padding: 30px 0;
  overflow-y: scroll;
  resize: none;
  display: block;
  width: 90%;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  background-color: floralwhite;
  border: 1px dashed grey;
  margin-bottom: 10px;
}

.post-text {
  text-align: center;
  font-size: 1.5em;
}



.blogpost {
  border-top: 1px solid grey;
  margin-top: 10px;
}

.btn {
  text-align: center;
}

.textarea {
  overflow-y: scroll;
  resize: none;
  display: block;
  width: 90%;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  background-color: floralwhite;
  border: 1px dashed grey;
}

.bottom-button {
  position: absolute;
  right: 200px;
  margin-bottom: 20px;
}


.nonedit {
  border: 1px solid grey;
}

.jumbotron {
  margin-top: -30px;
  text-align: middle;
}

a .blogtitle {
  color: white;
  font-weight: bold;
}

.blogtitle:hover {
  color: lightgrey;
}

nav {
  color: black;
  text-align: middle;
  vertical-align: middle;
  height: 5px;
  display: flex;
}


.allposts {
  margin-top: -30px;
}
