body {
  background-color: floralwhite;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

p, small { 
  text-align: center;
}

.pubdate {
  text-align: center;
}

.edit {
  text-align: center;
  color: black;
  font-weight: bold;
}

.edit:hover {
  color: red;
}



.footer {
  width: 100%;
  height: 28px;
  border-top: 1px solid #E0E0E0;
  position: absolute;
  bottom: 0px; 
  left: 0px; 
  text-align: center;
}
.page-header {
  margin-top: -15px;
  border-bottom: 2px solid grey;
}

textarea {
  overflow-y: scroll;
  resize: none;
  display: block;
  width: 90%;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  background-color: floralwhite;
  border: 1px dashed grey;
}

.post-text {
  text-align: center;
  font-size: 1.5em;
}

.blogtitle {
  background-color: lightblue;
  color: white;
}

.blogtitle:hover {
  color: beige;
}
