{% extends "controller/base.html" %}
{% block aboutcontent %}

<div class="container">
  <p class="lead text-center panel">
    Hi! My name is Alex. Somehow you have stumbled onto my personal page. This is just a self-tutorial for learning some basic bootstrap. This site exists to host/show off my data science projects, as well as other code, primarily Django.
 </p> 

  <p class="lead text-center panel">
    I did my undergrad in Math at UC Berkeley, with a cluster in statistics and finance. I work as an analyst in human resources/compensation consulting in the SF Bay Area. I do data analysis in connection with HR-related financial planning.
  </p>

  <p class="lead text-center panel">
  I am starting <a href="https://www.omscs.gatech.edu/" target="_blank">Georgia Tech's OMSCS</a> program in Fall 2016, with a focus in machine learning and software development.  I am looking for Python/Java software development opportunities, preferably on the implementation of back-end predictive models.  <span class="text-success">If you stumble across this and work in fintech, send me a <a href="mailto:alexpitzer42@gmail.com">personal email!</a></span>
  </p>
  <p class="lead text-center panel">
    The backend to this site is Django, hosted on a micro AWS Ubuntu instance.  
  </p>
</div>
{% endblock %}
