{% extends "controller/base.html" %}
{% block aboutcontent %}

<div class="container">
  <p class="lead text-center panel">
    Hi! My name is Alex. Somehow you have stumbled onto my personal page. This is just a self-tutorial for learning some basic bootstrap. This site exists to host/show off my data science projects, as well as other code, primarily Django.
 </p> 

  <p class="lead text-center panel">
    I did my undergrad in Math at UC Berkeley, with a focus in statistics and finance. Since graduation, I've been working in human resources compensation consulting for a boutique firm in the SF Bay Area.  I mostly have been doing data analysis with regard to salaries and bonuses in connection with financial analyses, human resources projects and legal cases.
  </p>

  <p class="lead text-center panel">
  I am starting <a href="https://www.omscs.gatech.edu/" target="_blank">Georgia Tech's OMSCS</a> program in Fall 2016, with an intended focus in Machine Learning and Computing Systems.  I am looking for software development opportunities with a bend towards the implementation of back-end predictive models.  <span class="text-success">If you stumble across this and work in fintech, send me a <a href="mailto:alexpitzer42@gmail.com">personal email!</a></span>
  </p>
  <p class="lead text-center panel">
    The backend to this site is Django, hosted on a micro AWS Ubuntu instance.  
  </p>
</div>
{% endblock %}
