{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Personal Site!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'controller/style.css' %}" />
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <script src="{% static 'boostrap/js/bootstrap.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </head>
  <body class="container" style="width: 64%; left: 18%; position: fixed">
      <div class="navbar container btn-group-2" style="font-weight: bold">
        <div class="col-md-1"></div>
        <a href="{% url 'about'  %}" class="col-md-2 btn btn-primary btn-lg">About</a>
        <a href="{% url 'projects'  %}" class="col-md-2 btn btn-primary btn-lg">Projects</a>
        <a class="btn btn-primary btn-lg col-md-2" href="{% url 'resume' %}">Resume  <i class="fa fa-file-pdf-o" style="color: black"></i></a>
        <a href="{% url 'blog:index' %}" class="col-md-2 btn btn-primary btn-lg">Blog</a>
        <a href="{% url 'other'  %}" class="col-md-2 btn btn-primary btn-lg">Other</a>
      </div>
    <div class="page-header">
      <h1 class="jumbotron text-center"><a href="{% url 'about' %}" class="text-primary" style="color: black">Practical Whimsy</a></h1>
      <a href="http://www.kaiyukan.com/language/eng/" title="One of the world's best aquariums"><img class="masthead img-circle" src="{% static 'controller/images/me.jpeg' %}" alt=":3" id="mepic" /></a>
      <br />
    </div>

    {% block homecontent %}{% endblock %}
    {% block aboutcontent %}{% endblock %}
    {% block projectscontent %}{% endblock %}
    {% block blogscontent %}{% endblock %}
    {% block othercontent %}{% endblock %}
  </body>
  <div class="panel-footer">
    <p>&copy; Alex Pitzer</p>
  </div>
</html>
