{% load staticfiles %}
<!DOCTYPE html>
<html lang=en"">
  <head>
    <title>My Personal Site!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'controller/style.css' %}" />
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  </head>
  <body>
      <div class="navbar container btn-group-2" style="font-weight: bold">
        <div class="col-md-1"></div>
        <a href="{% url 'about'  %}" class="col-md-2 btn btn-info btn-lg">About</a>
        <a href="{% url 'projects'  %}" class="col-md-2 btn btn-info btn-lg">Projects</a>
        <a class="btn btn-info btn-lg col-md-2" href="{% url 'resume' %}">Resume  <i class="fa fa-file-pdf-o" style="color: black"></i></a>
        <a href="{% url 'blog'  %}" class="col-md-2 btn btn-info btn-lg">Blog</a>
        <a href="{% url 'other'  %}" class="col-md-2 btn btn-info btn-lg">Other</a>
      </div>
    <div class="page-header">
      <h1 class="jumbotron text-center"><a href="{% url 'about' %}" class="text-primary" style="color: black">About Me</a></h1>
      <!--<button class="btn btn-default" data-toggle="collapse" data-target="#mepic">Hide Me :(</button>-->
      <img class="masthead img-circle" src="{% static 'controller/images/me.jpeg' %}" alt=":3" id="mepic" />
    </div>

    {% block aboutcontent %}{% endblock %}
    {% block projectscontent %}{% endblock %}
    {% block blogscontent %}{% endblock %}
    {% block othercontent %}{% endblock %}
  </body>
  <footer class="text-center">
    hi.
  </footer>
</html>
