{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>My Personal Site!</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'controller/style.css' %}" />
  </head>
  <body>
    <div class>
      <img class="img-responsive img-circle" src="{% static 'controller/images/me.jpeg' %}" alt=":3" width="75" height="75" />
    </div>
    <div class="page-header">
      <h2><a href="/about" class="text-primary" style="color: black">AP's Site!</a></h2>
    </div>

  <div class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <h2><a href="{% url 'about' %}">Hi</a></h2>
        </button>
      </div>
      <div class="col-md-1"></div>
      <a class="navbar-brand col-md-2" href="#">About</a>
      <a class="navbar-brand col-md-2" href="#">Projects</a>
      <a class="navbar-brand col-md-2" href="{% url 'resume' %}">Resume</a>
      <a class="navbar-brand col-md-2" href="#">Blogs and Stuff</a>
      <a class="navbar-brand col-md-2" href="#">Other</a>
      <div class="col-md-1"></div>
    </div>
  </div>
    {% block aboutcontent %}{% endblock %}
    {% block projectscontent %}{% endblock %}
    {% block blogscontent %}{% endblock %}
    {% block othercontent %}{% endblock %}
  </body>
</html>
