{% extends "controller/base.html" %}
{% block othercontent %}
{% if failure %}
  <div class="alert alert-danger fade in">
    <p><strong>Sorry. your login info was incorrect!<a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a></strong></p>
  </div>
{% endif %}
  <strong><h2 style="left: 47%; position: relative">Login</h2></strong>
  <span style="left: 42%; position: relative; font-weight: bold;"><a href="{% url 'register' %}" id=".register"><h3>Click here, new user!</h3></a></span>
  <br />
  <br />
  <br />
  <div class="container">
  <form method="POST" action="{% url 'login'  %}">
  {% csrf_token %}
    <table>
    <tr><input name="username" class="form-control" type="text" placeholder="Username" /> 
      <input type=submit style="visibility: hidden;" /></tr>
    <tr><input name="password" class="form-control" type="password" placeholder="enter password" /> 
      <input type=submit style="visibility: hidden;" /></tr>
    </table>
  </form>
  </div>
{% endblock %}
