{% extends "blog/base.html" %}
  {% load static %}
  {% block blogscontent %} 
  
    <div class="container post">
      <div class="page-header">
        {% if  post.publish_date != None %}
          <h2>{{ post.title }}
          <p><small>Published: {{ post.publish_date }}</small></p>
          </h2>
        {% else %}
          <h2>{{ post.title }}</h2>
        {% endif %}
        <a href="#" class="edit"><p><small>Edit  </small><span class="glyphicon glyphicon-pencil"></span></p></a>
      </div>
      <br />
      <textarea readonly class="post-text">{{ post.body }}</textarea>
    </div>
  {% endblock %}
