{% extends "blog/base.html" %}
  {% load static %}
  {% block blogscontent %} 
  
    <div class="container post">
      <div class="page-header">
        {% if  post.publish_date != None %}
          <h2>{{ post.title }}
          <p><small>Published: {{ post.publish_date }}</small></p>
          </h2>
        {% else %}
          <h2>{{ post.title }}</h2>
        {% endif %}
        <form action="{% url 'blog:edit' pk=post.id %}" method="POST">
        {% csrf_token %}
        <br />
      </div>
      <div class="container">
      <br />
      <textarea name="post_body" class="post-text editing">{{ post.body }}</textarea>
        <button type="submit" class="btn btn-primary bottom-button">Save</button>
        </form>
      <br />
      </div>
    </div>
  {% endblock %}
