{% extends "blog/base.html" %}
{% block blogscontent %}
  <div class="container">
  <div class="form-group searchform col-md-6" style="position: relative; left: 35%">
    <form method="GET" action="{% url 'blog:search' %}" style="border: 2px solid black; background-color: lightgrey; color: white; width: 60%; padding: .5cm; opacity: .7">
      <h2 style="color: black; font-weight: bold;">Search Form</h2>
        <tr><input class="form-control" type="text" placeholder="Search post titles" /> 
          <input type=submit style="visibility: hidden;" /></tr>
      <br />
      <tr><input class="form-control" type="text" placeholder="Search post text" />
        <input type=submit style="visibility: hidden;" /></tr>
      </table>
    </form>
  </div>
  </div>
  <div class="allposts">
  {% for post in posts %}
    <div class="blogpost">
    {% if post.publish_date != None %}
    <h1><a class="titling" href="{% url 'blog:detail' pk=post.id %}">{{ post.title }}</a></h1> 
        <span class="pubdate">Published on {{ post.publish_date }}</span>
        <span class="page-header"></span>
    {% else %}
    <h1><a class="titling" href="{% url 'blog:detail' pk=post.id %}">{{ post.title }}</a></h1> 
    <span class="pubdate">No known published date</span>
    </div>
    {% endif %}
  {% endfor %}
  </div>
{% endblock %}
