{% extends "blog/base.html" %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $("#datepicker").datepicker();

  }  );
  </script>
  {% block blogscontent %} 
  {% load static %}
  <div class="container">
  <form method="POST">
    {% csrf_token %}
    <label for="title">Title: </label>
    <input type="text" name="title" />
    <br />
    <br />
    <label for="body">Body: </label>
    <br />
    <textarea name="body" class="form-control post-text"></textarea> 
    <br />
    <br />
    <label for="publish_date">Publish Date: </label>
    <input type="text" name="publish_date" id="datepicker" />
    <br />
    <br />
    <input type="submit" value="Save" />
  </form>
  </div>

{% endblock %}
