body {
  background-color: floralwhite;
}

.navbar-nav {
  font-size: 1.1em;
  font-weight: bold;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.3em;
}

.navbar-right {
  margin-left: 10px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  text-align: center;
}
