body {
  background-color: MintCream;
}

.jumbotron {
  background-color: LightSkyBlue;
  border: 2px solid black;
}

.page-header {
  text-align: center;
  vertical-align: center;
}


img {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: -15px;
  border: 2px solid black;
}

.btn-group {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}


.masthead {
  width: 75px;
  top: 3;
}

.navbar {
  margin-top: 20px;
  margin-bottom: -10px;
}

.btn {
  margin-right: 10px;

}

.panel-footer {
  text-align: center;
}
